# Module 03

## Session 05 Data Preparation & Feature Engineering

# Polynomial Features

## Library

In [1]:
# data
import pandas as pd
import numpy as np

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

# preprocessing
from sklearn.preprocessing import PolynomialFeatures

# data splitting
from sklearn.model_selection import train_test_split

# modeling
from sklearn.linear_model import LogisticRegression


# validation
from sklearn.metrics import accuracy_score

## Data

In [6]:
wine = pd.read_csv('./datasets/winequality-white.csv', delimiter=';')
wine['label'] = np.where(wine['quality'] > 6, 1, 0)
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,label
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

## Data Splitting

In [7]:
X = wine[['alcohol', 'density']]
y = wine['label']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    stratify=y,
    random_state=2020
)

## Model without Polynomial Feature

In [10]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [11]:
y_pred = logreg.predict(X_test)
accuracy_score(y_test, y_pred)

0.803265306122449

## Model with Polynomial Features

In [22]:
polynom = PolynomialFeatures(degree=3, include_bias=False)
X_train_poly = polynom.fit_transform(X_train)
X_test_poly = polynom.transform(X_test)

In [23]:
pd.DataFrame(X_train_poly, columns=polynom.get_feature_names())

,x0,x1,x0^2,x0 x1,x1^2,x0^3,x0^2 x1,x0 x1^2,x1^3
0,9.5,0.99700,90.25,9.471500,0.994009,857.375,89.979250,9.443086,0.991027
1,12.5,0.98880,156.25,12.360000,0.977725,1953.125,154.500000,12.221568,0.966775
2,9.8,0.99556,96.04,9.756488,0.991140,941.192,95.613582,9.713169,0.986739
3,10.8,0.99278,116.64,10.722024,0.985612,1259.712,115.797859,10.644611,0.978496
4,10.9,0.99240,118.81,10.817160,0.984858,1295.029,117.907044,10.734950,0.977373
...,...,...,...,...,...,...,...,...,...
3668,9.4,0.99691,88.36,9.370954,0.993830,830.584,88.086968,9.341998,0.990759
3669,9.8,0.99540,96.04,9.754920,0.990821,941.192,95.598216,9.710047,0.986263
3670,10.0,0.99388,100.00,9.938800,0.987797,1000.000,99.388000,9.877975,0.981752
3671,10.0,0.99480,100.00,9.948000,0.989627,1000.000,99.480000,9.896270,0.984481
3672,10.5,0.99184,110.25,10.414320,0.983747,1157.625,109.350360,10.329339,0.975719

In [24]:
logreg = LogisticRegression()
logreg.fit(X_train_poly, y_train)

LogisticRegression()

In [25]:
y_pred_poly = logreg.predict(X_test_poly)
accuracy_score(y_test, y_pred_poly)

0.803265306122449