# Module 03

## Session 08 Ensemble Methods

Analyze data bankloan.csv
* Apply Random Forest:
    - target: default
    - features: age, employ, debtinc, creddebt, othdebt
* Splitting ratio 80:20 stratified
* Apply Random Forest n_estimator 20, max features 4, max depth 3
* Compute precission, recall, f1 score in test set

# Library

In [22]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_val_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import classification_report

# Data

In [2]:
bankloan = pd.read_csv('./datasets/bankloan.csv')
bankloan.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608        1
1   27   1      10        6      31     17.3   1.362202  4.000798        0
2   40   1      15       14      55      5.5   0.856075  2.168925        0
3   41   1      15       14     120      2.9   2.658720  0.821280        0
4   24   2       2        0      28     17.3   1.787436  3.056564        1

In [3]:
X = bankloan[['age', 'employ', 'debtinc', 'creddebt', 'othdebt']]
y = bankloan['default']

# Data Splitting

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    stratify=y,
    test_size=0.2,
    random_state=2020
)

# Model Tree

In [25]:
tree = DecisionTreeClassifier(max_depth=3)
tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [26]:
tree_cv = cross_val_score(tree, X_train, y_train, scoring='f1')
print('result', tree_cv)
print('mean', tree_cv.mean())
print('mean', tree_cv.std())

result [0.66666667 0.47826087 0.60869565 0.06451613 0.56603774]
mean 0.47683541065742235
mean 0.21512289780654126

In [27]:
y_pred = tree.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.92      0.86       103
           1       0.64      0.38      0.47        37

    accuracy                           0.78       140
   macro avg       0.72      0.65      0.67       140
weighted avg       0.76      0.78      0.76       140

# Model Random Forest

In [28]:
rf = RandomForestClassifier(n_estimators=300, max_features=2, max_depth=3, random_state=2020)
rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=3, max_features=2, n_estimators=300,
                       random_state=2020)

In [29]:
rf_cv = cross_val_score(rf, X_train, y_train, scoring='f1')
print('result', rf_cv)
print('mean', rf_cv.mean())
print('mean', rf_cv.std())

result [0.48888889 0.3902439  0.55813953 0.27027027 0.38095238]
mean 0.41769899548685707
mean 0.09862136772695161

In [30]:
y_pred = rf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.96      0.87       103
           1       0.75      0.32      0.45        37

    accuracy                           0.79       140
   macro avg       0.77      0.64      0.66       140
weighted avg       0.79      0.79      0.76       140