# Module 02

## Session 02 Python for Data Analysis

# Numpy Operation

In [1]:
import numpy as np

In [5]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Plus

In [6]:
arr + 1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [7]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Divide

In [8]:
arr = np.arange(1,10)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
1/arr

array([1.        , 0.5       , 0.33333333, 0.25      , 0.2       ,
       0.16666667, 0.14285714, 0.125     , 0.11111111])

In [18]:
arr/arr

array([1., 1., 1., 1., 1., 1., 1., 1., 1.])

## Multiply

In [10]:
arr * arr

array([ 1,  4,  9, 16, 25, 36, 49, 64, 81])

In [16]:
arr_1d = np.array([1,2,3])
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
arr_2d*arr_1d

array([[ 1,  4,  9],
       [ 4, 10, 18],
       [ 7, 16, 27]])

## Power

In [11]:
arr_2d = arr.reshape(3,3)
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [12]:
arr_2d ** 2

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

## Root

In [19]:
np.sqrt(arr)

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        ])

## Exponential

In [20]:
np.exp(arr)

array([2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01,
       1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03,
       8.10308393e+03])

## np.sin()

In [21]:
np.sin(arr_2d)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [-0.7568025 , -0.95892427, -0.2794155 ],
       [ 0.6569866 ,  0.98935825,  0.41211849]])

## Log

In [22]:
np.log(arr_2d)

array([[0.        , 0.69314718, 1.09861229],
       [1.38629436, 1.60943791, 1.79175947],
       [1.94591015, 2.07944154, 2.19722458]])

## Insertion and deletion

### Insert

In [23]:
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [24]:
np.insert(arr,5,10)

array([ 1,  2,  3,  4,  5, 10,  6,  7,  8,  9])

In [25]:
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

### Delete

In [26]:
np.delete(arr,7)

array([1, 2, 3, 4, 5, 6, 7, 9])

### Append

In [27]:
np.append(arr,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 11])

### Concatenate

In [28]:
a = np.array([[1,2],[3,4]])5
a

array([[1, 2],
       [3, 4]])

In [29]:
b = np.array([[5,6]])
b

array([[5, 6]])

In [31]:
np.concatenate((a,b), axis=0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [32]:
np.concatenate((a,b), axis=None)

array([1, 2, 3, 4, 5, 6])

## Where

In [33]:
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [34]:
np.where(arr>5,1,arr)

array([1, 2, 3, 4, 5, 1, 1, 1, 1])

In [35]:
np.where(arr>5,1,0)

array([0, 0, 0, 0, 0, 1, 1, 1, 1])

In [36]:
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [37]:
np.where(arr_2d <= 5,0,arr_2d)

array([[0, 0, 0],
       [0, 0, 6],
       [7, 8, 9]])