# Module 02

## Session 02 Python for Data Analysis

# Pandas Series & DataFrame

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

## Making Series

### From list

In [4]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [3]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(labels, my_list)

10    a
20    b
30    c
dtype: object

In [7]:
pd.Series(index=labels, data=my_list)

a    10
b    20
c    30
dtype: int64

## From numpy array

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

### From dictionary

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Making DataFrame

### From list

In [11]:
a = [i for i in range(1,5)]
b = [i for i in range(5,9)]
c = [i for i in range(9,13)]

In [12]:
a

[1, 2, 3, 4]

In [13]:
b

[5, 6, 7, 8]

In [14]:
c

[9, 10, 11, 12]

In [15]:
pd.DataFrame(
    data=[a,b,c],
    index='a b c'.split(),
    columns='w x y z'.split()
)

   w   x   y   z
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [16]:
pd.DataFrame(
    data=list(zip(a,b,c)),
    index='w x y z'.split(),
    columns='a b c'.split()
)

   a  b   c
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12

In [18]:
my_list2 = [[1,2,3,4],
            [5,6,7,8],
            [9,10,11,12],
            [13,14,15,16]]

my_list2

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [19]:
pd.DataFrame(
    data=my_list2,
    index='a b c d'.split(),
    columns='w x y z'.split()
)

    w   x   y   z
a   1   2   3   4
b   5   6   7   8
c   9  10  11  12
d  13  14  15  16

In [20]:
pd.DataFrame(
    data=my_list2,
    index='a b c d'.split(),
    columns='w x y z'.split()
).T

   a  b   c   d
w  1  5   9  13
x  2  6  10  14
y  3  7  11  15
z  4  8  12  16

In [22]:
from numpy.random import randn
np.random.seed(101)

In [23]:
pd.DataFrame(
    data=randn(5,4),
    index='A B C D E'.split(),
    columns='W X Y Z'.split()
)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### From dictionary

In [24]:
my_d = {
    'a':[1,2,3,4],
    'b':[5,6,7,8],
    'c':[9,10,11,12]
}

my_d

{'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8], 'c': [9, 10, 11, 12]}

In [25]:
pd.DataFrame(
    data=my_d,
    index='w x y z'.split()
)

   a  b   c
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12