# Module 02
## Session 03

### Data Preparation

In [1]:
# data preparation
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('./datasets/melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

### Exercise 1
Tampilkan statistik deskriptif pada variabel <b>Rooms</b>, <b>Distance</b>, <b>Landsize</b>, dan <b>Price</b>

In [3]:
df[['Rooms', 'Distance', 'Landsize', 'Price']].describe()

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

### Exercise 2
- Berapa jumlah <b>Rooms</b> pada rumah yang harganya paling mahal?

In [7]:
max_price = df['Price'].max()
df[df['Price'] == max_price]['Rooms']

12094    3
Name: Rooms, dtype: int64

- Berapa rata-rata harga rumah yang jarak ke CBD (variabel <b>Distance</b>) terdekat?

In [10]:
min_distance = df['Distance'].min()
df[df['Distance'] == min_distance]['Price'].mean()

671166.6666666666

- Berapa rata-rata harga rumah yang luas tanahnya (variable <b>Landsize</b>) 1 kali standar deviasi diatas rata-rata luas tanah

In [143]:
main = df['Landsize'].std() + df['Landsize'].mean()
df[df['Landsize'] >= main]['Price'].mean()

880776.6666666666

- Berapa rentang(range) harga rumah (variabel <b>Price</b>) pada region <b>Southern Metropolitan</b>?

In [17]:
south_metro_region = df[df['Regionname'] == 'Southern Metropolitan']
south_metro_region['Price'].max() - south_metro_region['Price'].min()

7869000.0

### Exercise 3
Nilai outlier adalah nilai yang berada dibawah <b>Q1 - (1.5*IQR)</b> atau diatas <b>Q3 + (1.5*IQR)</b>

- Hitung Q1, Q2, dan IQR pada kolom <i><b>Price</b></i> (harga rumah)

In [144]:
# Q1
q1 = df['Price'].describe()['25%']

# Q2
q2 = df['Price'].describe()['50%']

# Q3 
q3 = df['Price'].describe()['75%']

# IQR
iqr = q3 - q1
iqr

680000.0

- Hitung ada berapa nilai outlier pada kolom <i><b>Price</b></i>

In [151]:
upper_outlier = q3 + (1.5 * iqr)
lower_outlier = q1 - (1.5 * iqr)

df[((df['Price'] < lower_outlier) | (df['Price'] > upper_outlier))]['Price'].count()

612

### Exercise 4
Lakukan uji asumsi normalitas pada variabel harga rumah (<i><b>Price</b></i>) menggunakan:

- <i><b>Shapiro Wilk Test</b></i>

In [152]:
from scipy.stats import shapiro

swstat, pval = shapiro(df['Price'])

if pval > 0.05:
    print(f'p-value: {pval}. We assume a normal distribution')
else:
    print(f'p-value: {pval}. We do not assume a normal distribution')

p-value: 0.0. We do not assume a normal distribution

/Users/deris/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/morestats.py:1681: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

- <i><b>D'Agostino and Pearson's Test</b></i>

In [153]:
from scipy.stats import normaltest

dvstat, pval = normaltest(df['Price'])

if pval > 0.05:
    print(f'p-value: {pval}. We assume a normal distribution')
else:
    print(f'p-value: {pval}. We do not assume a normal distribution')

p-value: 0.0. We do not assume a normal distribution

### Exercise 5
Jika diasumsikan telah memenuhi syarat statistik parametrik, hitung seberapa kuat korelasi variable <i><b>Rooms</b></i> dengan <i><b>Price</b></i>, serta arah korelasinya!

In [34]:
df['Rooms'].corr(df['Price'], method='pearson')

0.49663367618653

### Exercise 6
- Dari beberapa <i><b>Regionname</b></i>, manakah <i><b>Regionname</b></i> yang variabel jumlah kamarnya (<i><b>Rooms</b></i>) memiliki korelasi terkuat dengan harga rumah (<i><b>Price</b></i>)
- diasumsikan telah memenuhi syarat statistik parametrik

In [57]:
df.groupby(['Regionname'])['Rooms'].corr(df['Price'], method='pearson').sort_values(ascending=False).head(1)

Regionname
Southern Metropolitan    0.683744
Name: Rooms, dtype: float64

### Exercise 7
Jika diasumsikan <b>tidak</b> memenuhi syarat statistik parametrik, hitung seberapa kuat korelasi variabel <i><b>Distance</b></i> dengan <i><b>Price</b></i>, serta arah korelasinya

In [36]:
df['Distance'].corr(df['Price'], method='spearman')

-0.12998984131880323

### Exercise 8
- Dari beberapa <i><b>Regionname</b></i> manakah <i><b>Regionname</b></i> yang variabel jumlah jarak ke CBD (<i><b>Distance</b></i>) paling tidak berkorelasi dengan variable harga rumah (<i><b>Price</b></i>)
- serta tampilkan juga <i><b>Regionname</b></i> yang paling berkorelasi
- diasumsikan telah memenuhi syarat statistik parametrik

In [54]:
abs_corr = abs(df.groupby(['Regionname'])['Distance'].corr(df['Price'], method='pearson'))

# least correlation
print('least correlation: ')
print(abs_corr.sort_values().head(1))

least correlation:
Regionname
Southern Metropolitan    0.002489
Name: Distance, dtype: float64

In [55]:
# most correlation
print('most correlation: ')
print(abs_corr.sort_values().tail(1))

most correlation:
Regionname
Northern Metropolitan    0.368552
Name: Distance, dtype: float64

### Exercise 9
Uji hipotesis apakah metode pembelian/<i><b>Method</b></i> berkaitan dengan tipe rumah/<i><b>Type</b></i>(dependen) atau tidak saling berkaitan (independen)

<i><b>Hypothesis</b></i>:

H<sub>0</sub>: The two variables are independent

H<sub>a</sub>: The two variables are dependent

In [154]:
main = pd.crosstab(df['Type'], df['Method'])
main

Method    PI     S  SA    SP   VB
Type
h       1069  6507  66  1079  728
t        134   723   7   143  107
u        361  1792  19   481  364

In [155]:
# import library
from scipy.stats import chi2_contingency

# defining the table
stat, pval, dof, expected = chi2_contingency(main)

# conclution
alpha = 0.05
print('p-value: ', pval)
if pval <= alpha:
    print('Dependent (tolak H0)')
else:
    print('Independent (terima H0)')

p-value:  3.183702485154384e-22
Dependent (tolak H0)

### Exercise 10
Uji hipotesis apakah rata-rata harga rumah (<i><b>Price</b></i>) antar <i><b>Regionname</b></i> berbeda ataukah sama. Diasumsikan persyaratan statistik parametrik terpenuhi

<i><b>Hypothesis</b></i>:

H<sub>0</sub>: rata-rata antar <i><b>Regionname</b></i> sama

H<sub>a</sub>: setidaknya ada satu pasang <i><b>Regionname</b></i> yang rata-ratanya tidak sama

In [86]:
df.groupby(['Regionname'])['Price'].mean()

Regionname
Eastern Metropolitan          1.104080e+06
Eastern Victoria              6.999808e+05
Northern Metropolitan         8.981711e+05
Northern Victoria             5.948293e+05
South-Eastern Metropolitan    9.229438e+05
Southern Metropolitan         1.372963e+06
Western Metropolitan          8.664205e+05
Western Victoria              3.975234e+05
Name: Price, dtype: float64

In [103]:
# import library
from scipy.stats import f_oneway

# one-way annova f-test
tstat, pval = f_oneway(df[df['Regionname'] == 'Eastern Metropolitan']['Price'],
                       df[df['Regionname'] == 'Eastern Victoria']['Price'],
                       df[df['Regionname'] == 'Northern Metropolitan']['Price'],
                       df[df['Regionname'] == 'Northern Victoria']['Price'],
                       df[df['Regionname'] == 'South-Eastern Metropolitan']['Price'],
                       df[df['Regionname'] == 'Southern Metropolitan']['Price'],
                       df[df['Regionname'] == 'Western Metropolitan']['Price'],
                       df[df['Regionname'] == 'Western Victoria']['Price'],
                      )

print('T-statistic:', tstat)
print('P-value:', pval)

# conclusion
if pval < 0.05:
    print('Tolak H0')
else:
    print('Terima H0')

T-statistic: 284.40018651008097
P-value: 0.0
Tolak H0