In [3]:
import numpy as np
import pandas as pd

In [20]:
url = "https://raw.githubusercontent.com/deristnoor/python/refs/heads/master/project/Data%20Science%20%26%20Machine%20Learning/Melting%20Points/data/train.csv"
df = pd.read_csv(url, index_col="id")
df.head()

,SMILES,Tm,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,Group 8,...,Group 415,Group 416,Group 417,Group 418,Group 419,Group 420,Group 421,Group 422,Group 423,Group 424
id,,,,,,,,,,,,,,,,,,,,,
2175,FC1=C(F)C(F)(F)C1(F)F,213.15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1222,c1ccc2c(c1)ccc3Nc4ccccc4c23,407.15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2994,CCN1C(C)=Nc2ccccc12,324.15,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1704,CC#CC(=O)O,351.15,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2526,CCCCC(S)C,126.15,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df.id.value_counts().sort_values(ascending=False)

id
2175    1
2307    1
890     1
2396    1
2994    1
       ..
1551    1
2190    1
707     1
1573    1
1673    1
Name: count, Length: 2662, dtype: int64

In [6]:
df.describe()

,id,Tm,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,Group 8,...,Group 415,Group 416,Group 417,Group 418,Group 419,Group 420,Group 421,Group 422,Group 423,Group 424
count,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,2662.000000,...,2662.000000,2662.000000,2662.0,2662.000000,2662.0,2662.0,2662.0,2662.0,2662.0,2662.0
mean,1652.887303,278.263452,1.020661,1.582269,0.114951,0.036439,0.036814,0.022915,0.013524,0.010143,...,0.001127,0.000751,0.0,0.001878,0.0,0.0,0.0,0.0,0.0,0.0
std,955.005512,85.117914,1.353640,3.738416,0.425964,0.208307,0.205516,0.164037,0.118732,0.117480,...,0.033558,0.027405,0.0,0.058126,0.0,0.0,0.0,0.0,0.0,0.0
min,1.000000,53.540000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
25%,830.250000,217.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
50%,1642.500000,277.300000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
75%,2469.750000,325.150000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
max,3328.000000,897.150000,16.000000,42.000000,6.000000,3.000000,2.000000,2.000000,2.000000,2.000000,...,1.000000,1.000000,0.0,2.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df.dtypes

id             int64
SMILES        object
Tm           float64
Group 1        int64
Group 2        int64
              ...
Group 420      int64
Group 421      int64
Group 422      int64
Group 423      int64
Group 424      int64
Length: 427, dtype: object

In [26]:
X = df.drop(['SMILES', 'Tm'], axis=1)
X.head()

,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,Group 8,Group 9,Group 10,...,Group 415,Group 416,Group 417,Group 418,Group 419,Group 420,Group 421,Group 422,Group 423,Group 424
id,,,,,,,,,,,,,,,,,,,,,
2175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1222,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2994,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1704,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2526,2,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
y = df.Tm
y.head()

id
2175    213.15
1222    407.15
2994    324.15
1704    351.15
2526    126.15
Name: Tm, dtype: float64

In [28]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    # stratify=y,
    test_size=0.2,
    random_state=0
)

In [38]:
y_train.head()

id
119     161.25
2955    213.15
1878    307.65
58      291.65
1419    482.15
Name: Tm, dtype: float64

In [105]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, SGDRegressor, HuberRegressor, TheilSenRegressor, RANSACRegressor, BayesianRidge, ARDRegression
from sklearn.tree import DecisionTreeRegressor, ExtraTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.svm import LinearSVR, SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from xgboost.sklearn import XGBRegressor
from sklearn import metrics
from sklearn.metrics import mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

classifiers = [
    "LinearRegression", 
    # "Ridge", 
    # "Lasso", 
    # "ElasticNet", 
    # "SGDRegressor", 
    "HuberRegressor", 
    # "TheilSenRegressor", 
    # "RANSACRegressor", 
    # "BayesianRidge", 
    # "ARDRegression", 
    # "DecisionTreeRegressor", "ExtraTreeRegressor",
    # "RandomForestRegressor", "GradientBoostingRegressor",
    "LGBMRegressor",
    # "CatBoostRegressor",
    "SVR",
    "LinearSVR",
    "KNeighborsRegressor",
    "MLPRegressor",
    "XGBRegressor"
]

models = [
    LinearRegression(),
    # Ridge(random_state=0),
    # Lasso(random_state=0),
    # ElasticNet(random_state=0),
    # SGDRegressor(random_state=0),
    HuberRegressor(), 
    # TheilSenRegressor(random_state=0), 
    # RANSACRegressor(random_state=0), 
    # BayesianRidge(), 
    # ARDRegression(),
    # DecisionTreeRegressor(random_state=0), ExtraTreeRegressor(random_state=0),
    # RandomForestRegressor(random_state=0), GradientBoostingRegressor(random_state=0),
    LGBMRegressor(random_state=0), 
    # CatBoostRegressor(random_state=0),
    SVR(),
    LinearSVR(random_state=0),
    KNeighborsRegressor(),
    MLPRegressor(random_state=0),
    XGBRegressor(random_state=0)
]

In [106]:
model = MLPRegressor(random_state=0)
model.fit(X_train,y_train)
predictions = model.predict(X_test)
score = mean_absolute_error(y_test,predictions)
score

39.989390723088235

In [108]:
Score = pd.DataFrame({"Regressor":classifiers})
j = 0
mae = []
for i in models:
    model = i
    model.fit(X_train,y_train)
    predictions = model.predict(X_test)
    mae.append(mean_absolute_error(y_test,predictions))
    j = j+1     

Score["MAE"] = mae
Score.sort_values(by="MAE", ascending=False,inplace = True)
Score.reset_index(drop=True, inplace=True)
Score

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.018368 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 344
[LightGBM] [Info] Number of data points in the train set: 2129, number of used features: 79
[LightGBM] [Info] Start training from score 277.872491

             Regressor        MAE
0                  SVR  56.681253
1            LinearSVR  46.535006
2  KNeighborsRegressor  46.207771
3        LGBMRegressor  43.083480
4         MLPRegressor  39.989391
5     LinearRegression  36.859814
6       HuberRegressor  36.626718
7         XGBRegressor  36.019691

In [109]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold

In [110]:
model_fix = XGBRegressor(random_state=0)

In [120]:
params = {
    "n_estimators": [300, 500, 800, 1200],
    "learning_rate": [0.01, 0.05, 0.1],
    "max_depth": [3, 5, 7, 9],
    "min_child_weight": [1, 3, 5, 7],
    "gamma": [0, 0.1, 0.5, 1],
    "subsample": [0.6, 0.7, 0.8, 0.9],
    "colsample_bytree": [0.6, 0.7, 0.8, 0.9],
    "reg_alpha": [0, 0.1, 0.5, 1],
    "reg_lambda": [0.5, 1, 2, 3, 4]
}

# skfold = StratifiedKFold(n_splits=5)

grid_search = GridSearchCV(
    estimator=model_fix,
    param_grid=params,
    cv=5,
    scoring='neg_mean_absolute_error',
    # verbose=1,
    n_jobs=-1,
)

In [121]:
grid_search.fit(X_train, y_train)

KeyboardInterrupt:

In [118]:
print('Neg_MAE_score:', grid_search.best_score_)
print('Best Parameters:', grid_search.best_params_)

Neg_MAE_score: -35.0539972119889
Best Parameters: {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 1200}